{% set unidade = app.user.lotacao ? app.user.lotacao.unidade : null %}

<ul class="navbar-nav mr-auto">
    {% if unidade %}
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ unidade.nome }} <b class="caret"></b></a>
            <div class="dropdown-menu">
                {% for module in modules %}
                    {% if app.user.admin or is_granted(module.roleName) %}
                        <a href="{{ path(module.homeRoute) }}" class="dropdown-item">
                            <i class="fa fa-{{ module.iconName }} fa-fw"></i>
                            {{ module.displayName|trans({}, module.name) }}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if modules|length %}
                    <div class="dropdown-divider"></div>
                {% endif %}
                <a href="#dialog-unidade" data-toggle="modal" class="dropdown-item">
                    <i class="fa fa-exchange"></i> &nbsp;
                    {{ 'menu.change_unity'|trans }}
                </a>
            </div>
        </li>
    {% else %}
        <li>
            <a href="#dialog-unidade" data-toggle="modal">
                {{ 'menu.choose_unity'|trans }}
            </a>
        </li>
    {% endif %}
</ul>
