{% extends "module.html.twig" %}
{% block moduleContent %}
    <div id="dialog-guiche" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans %}Guichê{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <form id="guiche_form" action="{{ module.chave }}/set_guiche" method="post" role="form" class="form-inline">
                        <div class="form-group col-lg-2">
                            <label class="control-label">{% trans %}Número{% endtrans %}</label>
                            <input type="text" id="numero_guiche" name="guiche" maxlength="3" class="form-control" value="{{ guicheCookie }}" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" title="{% trans %}Tipo de Atendimento{% endtrans %}">{% trans %}Atendimento{% endtrans %}</label>
                            <select id="tipo_atendimento" name="tipo" class="form-control">
                                {% for v,l in tiposAtendimento %}
                                <option value="{{ v }}" {% if tipoAtendimentoCookie == v %}selected="selected"{% endif %}>{{ l }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                    <script type="text/javascript">
                        $('#guiche_form').on('submit', function() {
                            var numero = parseInt($('#numero_guiche').val());
                            if (isNaN(numero) || numero <= 0) {
                                $('#numero_guiche').val('');
                                return false;
                            }
                            return true;
                        });
                    </script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="$('#guiche_form').submit(); return false">{% trans %}Salvar{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    {# se ainda nao definiu o guiche, exibe automaticamente a dialog #}
    {% if guiche <= 0 %}
        <script type="text/javascript">
            SGA.dialogs.modal('#dialog-guiche'); 
            $('#guiche').focus();
        </script>
    {% else %}
        {# guiche definido, exibe tela de atendimento #}
        <div id="atendimento">
            <div id="guiche">
                <span class="label-guiche">{% trans %}Guichê{% endtrans %}</span>
                <span class="numero">{{ guiche }}</span>
                <a href="#dialog-guiche" data-toggle="modal">{% trans %}Alterar{% endtrans %}</a>
            </div>
            <div id="controls">
                <div id="chamar" class="control" style="display:none">
                    <button class="btn btn-default btn-control chamar" 
                            onclick="SGA.Atendimento.chamar(this)" 
                            title="{% trans %}Chamar próximo{% endtrans %}"
                            disabled="disabled">
                        <span>{% trans %}Chamar próximo{% endtrans %}</span>
                    </button>
                </div>
                <div id="iniciar" class="control" style="display:none">
                    <div class="senha">
                        <h3 class="title">{% trans %}Atendimento{% endtrans %}</h3>
                        <ul class="info {% if atendimento and atendimento.senha.isPrioridade %}prioridade{% endif %}">
                            <li class="numero">
                                <span class="atend-label">{% trans %}Senha|Bilhete{% endtrans %}</span>
                                <span class="atend-value">{{ atendimento.senha }}</span>
                            </li>
                            <li class="servico">
                                <span class="atend-label">{% trans %}Serviço{% endtrans %}</span>
                                <span class="atend-value">{{ atendimento.servicoUnidade.nome }}</span>
                            </li>
                            <li class="nome-prioridade">
                                <span class="atend-label">{% trans %}Prioridade{% endtrans %}</span>
                                <span class="atend-value">{{ atendimento.senha.prioridade.nome }}</span>
                            </li>
                            <li class="nome">
                                <span class="atend-label">{% trans %}Nome{% endtrans %}</span>
                                <span class="atend-value">{{ atendimento.cliente.nome }}&nbsp;</span>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-default btn-control chamar_novamente" 
                            onclick="SGA.Atendimento.chamar_novamente(this)" 
                            title="{% trans %}Chamar novamente{% endtrans %}">
                        <span>{% trans %}Chamar novamente{% endtrans %}</span>
                    </button>
                    <button class="btn btn-default btn-control iniciar" 
                            onclick="SGA.Atendimento.iniciar(this)" 
                            title="{% trans %}Iniciar atendimento{% endtrans %}">
                        <span>{% trans %}Iniciar atendimento{% endtrans %}</span>
                    </button>
                    <button class="btn btn-default btn-control nao_compareceu" 
                            onclick="SGA.Atendimento.nao_compareceu(this)" 
                            title="{% trans %}Não compareceu{% endtrans %}">
                        <span>{% trans %}Não compareceu{% endtrans %}</span>
                    </button>
                </div>
                <div id="encerrar" class="control" style="display:none">
                    <div class="senha">
                        <h3 class="title">{% trans %}Atendimento{% endtrans %}</h3>
                        <ul class="info {% if atendimento and atendimento.senha.isPrioridade %}prioridade{% endif %}">
                            <li class="numero">
                                <span class="atend-label">{% trans %}Senha|Bilhete{% endtrans %}</span>
                                <span class="atend-value">{{ atendimento.senha }}</span>
                            </li>
                            <li class="servico">
                                <span class="atend-label">{% trans %}Serviço{% endtrans %}</span>
                                <span class="atend-value">{{ atendimento.servicoUnidade.nome }}</span>
                            </li>
                            <li class="nome-prioridade">
                                <span class="atend-label">{% trans %}Prioridade{% endtrans %}</span>
                                <span class="atend-value">{{ atendimento.senha.prioridade.nome }}</span>
                            </li>
                            <li class="nome">
                                <span class="atend-label">{% trans %}Nome{% endtrans %}</span>
                                <span class="atend-value">{{ atendimento.cliente.nome }}&nbsp;</span>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-default btn-control chamar_novamente" 
                            onclick="SGA.Atendimento.chamar_novamente(this)" 
                            title="{% trans %}Chamar novamente{% endtrans %}">
                        <span>{% trans %}Chamar novamente{% endtrans %}</span>
                    </button>
                    <button class="btn btn-default btn-control encerrar" 
                            onclick="SGA.Atendimento.encerrar(this)" 
                            title="{% trans %}Encerrar atendimento{% endtrans %}">
                        <span>{% trans %}Encerrar atendimento{% endtrans %}</span>
                    </button>
                    <button class="btn btn-default btn-control erro_triagem" 
                            onclick="SGA.Atendimento.erro_triagem(this)" 
                            title="{% trans %}Erro de triagem{% endtrans %}">
                        <span>{% trans %}Erro de triagem{% endtrans %}</span>
                    </button>
                </div>
                <div id="codificar" class="control" style="display:none">
                    <div class="left">
                        <h3>{% trans %}Serviços disponíveis{% endtrans %}</h3>
                        <ul id="macro-servicos" class="items">
                            {% for su in servicos %}
                                <li id="servico-{{ su.servico.id }}">
                                    <a href="javascript:void(0)" 
                                       onclick="SGA.Atendimento.addServico(this)" 
                                       data-id="{{ su.servico.id }}" 
                                       title="{% trans %}Adicionar{% endtrans %}">
                                        {{ su.servico.nome }}
                                    </a>
                                    {% if servico.subServicos|length > 0 %}
                                        <ul>
                                        {% for sub in servico.subServicos %}
                                            <li id="servico-{{ sub.id }}">
                                                <a href="javascript:void(0)" 
                                                   onclick="SGA.Atendimento.addServico(this)" 
                                                   data-id="{{ sub.id }}" 
                                                   title="{% trans %}Adicionar{% endtrans %}">
                                                    {{ sub.nome }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="left">
                        <h3>{% trans %}Serviços realizados{% endtrans %}</h3>
                        <ul id="servicos-realizados" class="items">
                        </ul>
                        <div class="redirecionar">
                            <input id="encerrar-redirecionar" type="checkbox" value="1" />
                            <label for="encerrar-redirecionar" 
                                   title="{% trans %}Marque para codificar e redirecionar o atendimento atual{% endtrans %}">
                                <span>{% trans %}Redirecionar atendimento ao encerrar {% endtrans %}</span>
                            </label>
                        </div>
                        <button class="btn btn-default btn-control codificar" 
                                onclick="SGA.Atendimento.codificar(this)" 
                                title="{% trans %}Encerrar atendimento{% endtrans %}">
                            <span>{% trans %}Encerrar atendimento{% endtrans %}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div id="fila">
                <h4>{% trans %}Minha fila{% endtrans %} <span class="tipo-{{ usuario.tipoAtendimento }}">({{ labelTipoAtendimento }})</span>:</h4>
                <ul></ul>
            </div>
        </div>
        <p class="links clear">
            <a href="#dialog-busca" class="btn btn-default" data-toggle="modal">
                <span class="glyphicon glyphicon-search"></span> 
                {% trans %}Consultar senha{% endtrans %}
            </a>
        </p>
        
        {# dialog redirecionar #}
        <div id="dialog-redirecionar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Redirecionar{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="redirecionar_servico">{% trans %}Novo Serviço{% endtrans %}</label>
                            <select id="redirecionar_servico" class="form-control">
                                <option value="">{% trans %}Selecione{% endtrans %}</option>
                                {% for servico in servicosIndisponiveis %}
                                <option value="{{ servico.servico.id }}">{{ servico.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="SGA.Atendimento.codificar(this, true); return false;">
                            {% trans %}Redirecionar{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        {# dialog busca #}
        <div id="dialog-busca" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Busca{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" role="form" onsubmit="return false">
                            <div class="form-group">
                                <input id="numero_busca" type="text" maxlength="5" class="form-search form-control" placeholder="{% trans %}Número{% endtrans %}" />
                            </div>
                            <button id="btn-consultar" class="btn btn-primary" onclick="SGA.Atendimento.consultar()">
                                {% trans %}Consultar{% endtrans %}
                            </button>
                        </form>
                        <div class="result">
                            <table id="result_table" class="table">
                                <thead>
                                    <tr>
                                        <th>{% trans %}Número{% endtrans %}</th>
                                        <th>{% trans %}Serviço{% endtrans %}</th>
                                        <th>{% trans %}Data chegada{% endtrans %}</th>
                                        <th>{% trans %}Data início{% endtrans %}</th>
                                        <th>{% trans %}Data fim{% endtrans %}</th>
                                        <th>{% trans %}Triagem{% endtrans %}</th>
                                        <th>{% trans %}Atendente{% endtrans %}</th>
                                        <th>{% trans %}Situação{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {# dialog info senha #}
        <div id="dialog-senha" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Senha|Bilhete{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="field">
                            <h4>{% trans %}Número{% endtrans %}</h4>
                            <p class="numero"></p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Serviço{% endtrans %}</h4>
                            <p class="servico"></p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Prioridade{% endtrans %}</h4>
                            <p class="nome-prioridade"></p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Data de chegada{% endtrans %}</h4>
                            <p class="chegada"></p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Tempo de espera{% endtrans %}</h4>
                            <p class="espera"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="sga-clock" title="{% trans %}Data e hora no servidor{% endtrans %}"></div>
        
        {# som executado quando a fila deixa de estar fazia #}
        <audio id="audio-new" src="media/audio/ekiga-vm.wav" style="display:none"></audio>
        
        <script type="text/javascript">
            SGA.Clock.init("sga-clock", {{ time }});
            SGA.Atendimento.filaVazia = '{% trans %}Fila vazia{% endtrans %}';
            SGA.Atendimento.remover = '{% trans %}Remover{% endtrans %}';
            SGA.Atendimento.marcarErroTriagem = '{% trans %}Realmente deseja marcar como erro de triagem?{% endtrans %}';
            SGA.Atendimento.marcarNaoCompareceu = '{% trans %}Realmente deseja marcar como não compareceu?{% endtrans %}';
            SGA.Atendimento.nenhumServicoSelecionado = '{% trans %}Nenhum serviço selecionado{% endtrans %}';
            SGA.Atendimento.init({% if atendimento %}{{ atendimento.status }}{% else %}1{% endif %});
        </script>
    {% endif %}
{% endblock %}