{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-2 col-xs-3">
            <aside>
                <ul class="nav nav-pills nav-stacked">
                    <li {% if tab == 'index' %}class="active"{% endif %}>
                        <a href="{{ path('admin_index') }}">
                            {% trans %}Sistema{% endtrans %}
                        </a>
                    </li>
                    <li {% if tab == 'grupos' %}class="active"{% endif %}>
                        <a href="{{ path('admin_grupos_index') }}">
                            {% trans %}Grupos{% endtrans %}
                        </a>
                    </li>
                    <li {% if tab == 'unidades' %}class="active"{% endif %}>
                        <a href="{{ path('admin_unidades_index') }}">
                            {% trans %}Unidades{% endtrans %}
                        </a>
                    </li>
                    <li {% if tab == 'prioridades' %}class="active"{% endif %}>
                        <a href="{{ path('admin_prioridades_index') }}">
                            {% trans %}Prioridades{% endtrans %}
                        </a>
                    </li>
                    <li {% if tab == 'locais' %}class="active"{% endif %}>
                        <a href="{{ path('admin_locais_index') }}">
                            {% trans %}Locais{% endtrans %}
                        </a>
                    </li>
                    <li {% if tab == 'modulos' %}class="active"{% endif %}>
                        <a href="{{ path('admin_modulos_index') }}">
                            {% trans %}Módulos{% endtrans %}
                        </a>
                    </li>
                    <li {% if tab == 'api' %}class="active"{% endif %}>
                        <a href="{{ path('admin_api_index') }}">
                            Web API
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-md-10 col-xs-9">
            {% block adminContent %}{% endblock %}
        </div>
    </div>
{% endblock %}
