{% extends "admin.html.twig" %}

{% block adminContent %}
    <h1>
        {% trans %}Perfis{% endtrans %}
        <small>
            {% trans %}Cadastro de perfis de acesso{% endtrans %}
        </small>
    </h1>
    
    {{ form_start(form) }}
    
        {% include 'flashMessages.html.twig' %}
    
        <div class="row">
            <div class="col-md-8">
                {{ form_row(form.nome, { label: 'Nome' }) }}

                {{ form_row(form.descricao, { label: 'Descrição' }) }}
            </div>
            <div class="col-md-4">
                <div class="well">
                    {{ form_row(form.modulos, { label: 'Permissões' }) }}
                </div>
            </div>
        </div>

        <div class="buttons">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check"></i> 
                {% trans %}Salvar{% endtrans %}
            </button>
            <a href="{{ path('admin_perfis_index') }}" class="btn btn-secondary">
                <i class="fa fa-chevron-left"></i>
                {% trans %}Voltar{% endtrans %}
            </a>
        </div>

    {{ form_end(form) }}
{% endblock %}