{% extends "main.html.twig" %}
{% block head %}
        {# module resource #}
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/{{ module.getPath }}/css/style.css" />
        <script type="text/javascript" src="{{ baseUrl() }}/{{ module.getPath }}/js/script.js"></script>
        <script type="text/javascript"> SGA.module = "{{ module.chave}}";</script>
{% endblock %}

{% block content %}
<div class="module-content">
    <div class="header">
        <img src="{{ baseUrl() }}/{{ module.getPath }}/icon.png" />
        <h2>{{ module.nome }}</h2>
        <p>{{ module.descricao }}</p>
    </div>
    {% block moduleContent %}
    {% endblock %}
</div>
{% endblock %}