{% extends "base.html.twig" %}

{% block title %}
    {{ 'about.title'|trans }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ 'about.version.title'|trans({'%version%': version}) }}</h1>
        <p>{{ 'about.version.subtitle'|trans }}</p>
        <p>
            <button id="btn-checkversion" class="btn btn-secondary btn-lg" role="button" onclick="return App.checkVersion();">
                <i class="fa fa-refresh"></i>
                {{ 'about.version.check_new'|trans }}
            </button>
            <a id="btn-downloader" href="#" class="btn btn-success btn-lg" role="button" style="display:none">
                <i class="fa fa-download"></i>
                {{ 'about.version.download'|trans }} <span class="version"></span>
            </a>
            <span id="update-alert" class="label label-success" style="display:none">
                <i class="fa fa-check"></i>
                {{ 'about.version.newest'|trans }}
            </span>
        </p>
    </div>
    <h2>{{ 'about.community.title'|trans }}</h2>
    <p>{{ 'about.community.subtitle'|trans }}</p>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    {{ 'about.community.blog.title'|trans }}
                </div>
                <div class="card-body">
                    <p>{{ 'about.community.blog.description'|trans }}</p>
                    <p>
                        <a href="http://novosga.org/blog" class="btn btn-primary" target="_blank">
                            <i class="fa fa-eye"></i>&nbsp;
                            {{ 'about.community.blog.button'|trans }}
                        </a>
                    </p>
                </div>
           </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    {{ 'about.community.forum.title'|trans }}
                </div>
                <div class="card-body">
                    <p>{{ 'about.community.forum.description'|trans }}</p>
                    <p>
                        <a href="http://novosga.org/forum" class="btn btn-primary" target="_blank">
                            <i class="fa fa-eye"></i>&nbsp;
                            {{ 'about.community.forum.button'|trans }}
                        </a>
                    </p>
                </div>
           </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    {{ 'about.community.github.title'|trans }}
                </div>
                <div class="card-body">
                    <p>{{ 'about.community.github.description'|trans }}</p>
                    <p>
                        <a href="https://github.com/novosga/novosga" class="btn btn-primary" target="_blank">
                            <i class="fa fa-eye"></i>&nbsp;
                            {{ 'about.community.github.button'|trans }}
                        </a>
                    </p>
                </div>
           </div>
        </div>
    </div>
{% endblock %}
