{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'home.welcome.title'|trans({'%name%': app.user }) }}</h1>
            <p>{{ 'home.welcome.subtitle'|trans }}</p>
            <p>
                <a class="btn btn-primary btn-lg" href="{{ path('about') }}" role="button">
                    {{ 'home.welcome.button.read'|trans }} &raquo;
                </a>
            </p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body>section {
            padding: 20px 0;
        }
    </style>
{% endblock %}