{% extends "module.html.twig" %}
{% block moduleContent %}
    <form id="crud-form" method="post" action="">
        <input type="hidden" name="id" value="{{ model.id }}" />
        
        {% if flash['success'] %}
        <div class="alert alert-success">
            {{ flash['success'] }}
        </div>
        {% endif %}
        
        {% if flash['error'] %}
        <div class="alert alert-danger">
            {{ flash['error'] }}
        </div>
        {% endif %}
        
        {% block formContent %}
        {% endblock %}
        <div class="buttons">
            <span class="btns">
                <button type="submit"
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span> 
                    {% trans %}Salvar{% endtrans %}
                </button>
                <a href="{{ baseUrl() }}/modules/{{ module.chave }}"
                        class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span> 
                    {% trans %}Voltar{% endtrans %}
                </a>
                {% if model.id > 0 %}
                <button type="submit"
                        class="btn btn-danger"
                        onclick="SGA.Form.confirm('{% trans %}Deseja realmente excluir?'{% endtrans %}, function() { $('#form-delete input').val({{ model.id }}); $('#form-delete').submit() })">
                    <span class="glyphicon glyphicon-remove"></span> 
                    {% trans %}Excluir{% endtrans %}
                </button>
                {% endif %}
            </span>
            <p class="required-desc">{% trans %}Campos obrigatórios{% endtrans %}</p>
        </div>
    </form>
    {% block dialogs %}
    {% endblock %}
    <script type="text/javascript">
        SGA.Form.labels.required = '{% trans %}Campo obrigatório{% endtrans %}';
        SGA.Form.validate('crud-form');
    </script>
    
{% endblock %}