{% for dado in relatorio.dados %}
<div class="header">
    <h2>{{ dado.unidade }}</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans %}Usuário{% endtrans %}</th>
            <th>{% trans %}Nome{% endtrans %}</th>
            <th>{% trans %}Cargo{% endtrans %}</th>
            <th>{% trans %}Grupo{% endtrans %}</th>
            <th>{% trans %}Serviços{% endtrans %}</th>
            <th>{% trans %}Status{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for lotacao in dado.lotacoes %}
        <tr>
            <td class="strong">{{ lotacao.usuario.login }}</td>
            <td>{{ lotacao.usuario.nomeCompleto }}</td>
            <td>{{ lotacao.cargo.nome }}</td>
            <td>{{ lotacao.grupo.nome }}</td>
            <td>
                <ul>
                {% for su in dado.servicos[lotacao.usuario.id] %}
                    <li>{{ su.servico.nome }}</li>
                {% endfor %}
                </ul>
            </td>
            <td class="w75 center">
                {% if lotacao.usuario.status == 1 %}
                    <span class="status-active">{% trans %}Ativo{% endtrans %}</span>
                {% else %}
                    <span class="status-inactive">{% trans %}Inativo{% endtrans %}</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}