{% for dado in relatorio.dados %}
<div class="header">
    <h2>{{ dado.unidade }}</h2>
    <p>{% trans %}Período de {{ dataInicial }} a {{ dataFinal }}{% endtrans %}</p>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans %}Serviço{% endtrans %}</th>
            <th>{% trans %}Total{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% set total = 0 %}
        {% for s in dado.servicos %}
        <tr>
            <td>{{ s.nome }}</td>
            <td>{{ s.total }}</td>
            {% set total = total + s.total %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>
                <strong>Total: {{ total }}</strong>
            </td>
        </tr>
    </tfoot>
</table>
{% endfor %}