<div class="header">
    <p>{% trans %}Período de {{ dataInicial }} a {{ dataFinal }}{% endtrans %}</p>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans %}Usuário{% endtrans %}</th>
            <th>{% trans %}Atendimentos{% endtrans %}</th>
            <th title="{% trans %}Tempo médio de espera{% endtrans %}">{% trans %}TME{% endtrans %}</th>
            <th title="{% trans %}Tempo médio de deslocamento{% endtrans %}">{% trans %}TMD{% endtrans %}</th>
            <th title="{% trans %}Tempo médio de atendimento{% endtrans %}">{% trans %}TMA{% endtrans %}</th>
            <th>{% trans %}Tempo total{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for dado in relatorio.dados %}
        <tr>
            <td class="strong">{{ dado.atendente }}</td>
            <td>{{ dado.total }}</td>
            <td>{{ dado.espera|secFormat }}</td>
            <td>{{ dado.deslocamento|secFormat }}</td>
            <td>{{ dado.atendimento|secFormat }}</td>
            <td>{{ dado.tempoTotal|secFormat }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <h4>{% trans %}Legenda{% endtrans %}</h4>
    <ul>
        <li><strong>{% trans %}TME{% endtrans %}</strong>: {% trans %}Tempo médio de espera{% endtrans %}</li>
        <li><strong>{% trans %}TMD{% endtrans %}</strong>: {% trans %}Tempo médio de deslocamento{% endtrans %}</li>
        <li><strong>{% trans %}TMA{% endtrans %}</strong>: {% trans %}Tempo médio de atendimento{% endtrans %}</li>
    </ul>
</div>