<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% trans %}Instalação{% endtrans %} | Novo SGA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ baseUrl() }}/images/favicon.png" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/bootstrap.min.css?v={{ version }}" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/bootstrap-theme.min.css?v={{ version }}" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/style.css?v={{ version }}" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/install.css?v={{ version }}" />
        <script type="text/javascript" src="{{ baseUrl() }}/js/jquery.js?v={{ version }}"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/bootstrap.min.js?v={{ version }}"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/script.js?v={{ version }}"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/install.js?v={{ version }}"></script>
        <script type="text/javascript"> SGA.baseUrl = '{{ baseUrl() }}';</script>
        <!--[if lt IE 9]>
        <script src="{{ baseUrl() }}/js/html5shiv.js"></script>
        <script src="{{ baseUrl() }}/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">{% trans %}Instalação{% endtrans %}: {{ currStep.title }}</a>
                </div>
                <ul class="nav navbar-nav install-navegation">
                    {% if prevStep %}
                        <li>
                            <button id="btn_prev" type="button" class="btn btn-default" onclick="SGA.Install.prevStep()"
                                    title="{{ prevStep.title }}">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                {% trans %}Anterior{% endtrans %}
                            </button>
                        </li>
                    {% endif %}
                    {% if nextStep %}
                        <li>
                            <button id="btn_next" type="button" class="btn btn-primary" onclick="SGA.Install.nextStep()"
                                    title="{{ nextStep.title }}" {% if error %}disabled{% endif %}>
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                {% trans %}Próximo{% endtrans %}
                            </button>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            <ul id="progress">
                {% for step in steps %}
                    <li>
                        <span title="{{ step.title }}" class="label {% if step.id == currStep.id %}label-primary{% else %}label-default{% endif %}">
                            {{ step.id + 1 }}
                        </span>
                    </li>
                {% endfor %}
            </ul>
            <div class="step">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            <p>Novo SGA v{{ version }}</p>
        </div>
        <script type="text/javascript">
            SGA.Install.currStep = {{ currStep.id }};
            SGA.Install.totalSteps = {{ totalSteps }};
            SGA.Install.adapter = '{{ currAdapter }}';
        </script>
    </body>
</html>