{% extends "install/install.html.twig" %}

{% block content %}
    <div id="step_0">
        <h2>{% trans %}Bem-vindo a instalação da versão web do Novo SGA.{% endtrans %}</h2>
        <h3>{% trans %}Versão{% endtrans %} {{ version }}</h3>
        <p>{% trans %}Favor escolher o seu sistema de banco de dados preferido a partir dos listados abaixo:{% endtrans %}</p>
        <ul class="adapters">
            {% for script in scripts %}
            <li id="adapter-{{ script.id }}" class="{% if currAdapter == script.id %}bg-primary{% else %}bg-default{% endif %}">
                <input id="{{ script.id }}" type="radio" name="db" value="{{ script.id }}" onclick="setTimeout(function() { SGA.Install.chooseAdapter('{{ script.id }}')}, 100)" {% if currAdapter == script.id %}checked="checked"{% endif %} />
                <label for="{{ script['id'] }}">
                    <span class="adapter">{{ script.adapter }}</span>
                    <span class="info author">{% trans%}Autor{% endtrans %}: {{ script.author }}</span>
                </label>
            </li>
            {% endfor %}
        </ul>
        <p>{% trans %}Os requisitos para instalação do sistema irão depender da opção acima.{% endtrans %}</p>
    </div>
{% endblock %}