{% extends "install/install.html.twig" %}

{% block content %}
    <div id="step_1">
        {% if fatal %}
            <div class="row">
                <div class="col-md-10">
                    <div class="alert alert-danger">
                        {% trans %}A instalação não pode continuar enquanto os requisitos abaixos não forem satisfeitos. Favor verificar os itens em destaque.{% endtrans %}

                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default" onclick="window.location.reload()">
                        <span class="glyphicon glyphicon-refresh"></span>
                        {% trans %}Recarregar{% endtrans %}
                    </button>
                </div>
            </div>
        {% endif %}
        <div class="requirement">
            <h2>{% trans %}Requerimentos Mínimos{% endtrans %}</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans %}Nome{% endtrans %}</th>
                        <th>{% trans %}Versão requerida{% endtrans %}</th>
                        <th>{% trans %}Versão instalada{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in requiredsSetup %}
                    <tr class="{{ item.class }}">
                        <td>{{ item.name }}</td>
                        <td>{{ item.version_required }}</td>
                        <td class="result">{{ item.result }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="requirement">
            <h2>{% trans %}Permissões Requeridas{% endtrans %}</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans %}Arquivo{% endtrans %} / {% trans %}Diretório{% endtrans %}</th>
                        <th></th>
                        <th>{% trans %}Permissão requerida{% endtrans %}</th>
                        <th>{% trans %}Permissão atual{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in requiredsPermission %}
                    <tr class="{{ item.class }}">
                        <td>{{ item.label }}</td>
                        <td>{{ item.file }}</td>
                        <td>{{ item.required }}</td>
                        <td class="result">{{ item.result }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="requirement">
            <h2>{% trans %}Informações do Ambiente{% endtrans %}</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans %}Info{% endtrans %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% trans %}Sistema Operacional{% endtrans %}</td>
                        <td>{{ php_uname }}</td>
                    </tr>
                    <tr>
                        <td>{% trans %}Banco de dados escolhido{% endtrans %}</td>
                        <td>{{ adapter.rdms }}</td>
                    </tr>
                    <tr>
                        <td>{% trans %}Server API{% endtrans %}</td>
                        <td>{{ php_sapi_name }}</td>
                    </tr>
                    <tr>
                        <td>{% trans %}Timezone{% endtrans %}</td>
                        <td>{{ timezone }}</td>
                    </tr>
                    <tr>
                        <td>{% trans %}PHP Info{% endtrans %}</td>
                        <td><a href="{{ baseUrl() }}/install/info" target="_blank">{% trans %}Visualizar{% endtrans %}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}