{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                {% for item in tree %}
                    <li class="list-group-item" style="padding-left: {{ (item.level + 1) * 20 }}px;">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        {{- item.nome -}}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <div class="well">
                {{ form_start(form) }}

                    {{ form_row(form.parent, { label: 'Pai' }) }}

                    {{ form_row(form.nome, { label: 'Nome' }) }}

                    {{ form_row(form.descricao, { label: 'Descrição' }) }}

                    <button type="submit" class="btn btn-primary">{% trans %}Salvar{% endtrans %}</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}