{% extends "admin.html.twig" %}

{% block adminContent %}
    <h1>
        {{ 'admin.priorities.title'|trans }}
        <small>
            {{ 'admin.priorities.subtitle'|trans }}
        </small>
    </h1>
    
    <hr>
    
    {{ form_start(form) }}
    
        {% include 'flashMessages.html.twig' %}
        
        {{ form_row(form.ativo) }}
    
        {{ form_row(form.nome) }}

        {{ form_row(form.descricao) }}

        {{ form_row(form.peso) }}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> 
            {{ 'button.save'|trans }}
        </button>
        <a href="{{ path('admin_prioridades_index') }}" class="btn btn-secondary">
            <i class="fa fa-chevron-left"></i>
            {{ 'button.back'|trans }}
        </a>
        {% if entity.id and entity.id != 1 %}
            <button type="submit" class="btn btn-danger pull-right" name="_method" value="DELETE">
                <i class="fa fa-trash"></i> 
                {{ 'button.remove'|trans }}
            </button>
        {% endif %}

    {{ form_end(form) }}
{% endblock %}