{% extends "main.html.twig" %}
{% block content %}
<div id="home">
    <div class="welcome">
        <h1>{% trans %}Bem-vindo, {{ usuario }}{% endtrans %}</h1>
        <p>{% trans %}Novo SGA, Sistema de Gerenciamento de Atendimento baseado em web, de código aberto e gratuito.{% endtrans %}</p>
    </div>
    <div id="modules">
        <div id="modules-search">
            <input id="search-input" type="text" placeholder="{% trans %}buscar{% endtrans %}" onkeyup="SGA.Home.filter()" class="form-control" />
            <script type="text/javascript"> document.getElementById('search-input').focus() </script>
        </div>
        {% if unidade and modulosUnidade %}
        <div class="list unidade">
            <h2>{% trans  %}Unidade{% endtrans %}</h2>
            <p>{% trans %} Visualize abaixo os módulos disponíveis para a sua unidade{% endtrans %}</p>
            <ul>
                {% for modulo in modulosUnidade %}
                <li>
                    <a href="{{ baseUrl() }}/modules/{{ modulo.chave }}">
                        <img src="{{ resources('images/icon.png', modulo.chave) }}" />
                        <span class="name">{{ modulo.nome }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if modulosGlobal %}
        <div class="list global">
            <h2>{% trans %} Global {% endtrans %}</h2>
            <p>{% trans %}Visualize abaixo os módulos globais disponíveis que você possui acesso{% endtrans %}</p>
            <ul>
                {% for modulo in modulosGlobal %}
                <li>
                    <a href="{{ baseUrl() }}/modules/{{ modulo.chave }}">
                        <img src="{{ resources('images/icon.png', modulo.chave) }}" />
                        <span class="name">{{ modulo.nome }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}