<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8" />
        <title>Login | Novo SGA</title>
        <link rel="shortcut icon" href="{{ baseUrl() }}/images/favicon.png" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/bootstrap.min.css?v={{ version }}" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/login.css?v={{ version }}" />
        <!--[if lt IE 9]>
        <script src="{{ baseUrl() }}/js/html5shiv.js"></script>
        <script src="{{ baseUrl() }}/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <form id="login-form" action="login" method="post" class="form-signin">
                <h2 id="logo" class="form-signin-heading">Novo SGA</h2>
                {% if flash['error'] %}
                    <div class="alert alert-danger">
                        {{ flash['error'] }}
                    </div>
                {% endif %}
                <div id="login">
                    <input type="text" name="username" class="form-control" placeholder="{% trans %}Nome Usuário{% endtrans %}" autofocus>
                    <input type="password" name="password" class="form-control" placeholder="{% trans %}Senha{% endtrans %}">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %}Entrar{% endtrans %}</button>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#login').focus();
            });
        </script>
    </body>
</html>