{% extends "main.html.twig" %}

{% block head %}
    {{ parent() }}
    
    {# module resource #}
    <link rel="stylesheet" type="text/css" href="{{ resources('css/style.css', module.chave) }}" />
    <script type="text/javascript" src="{{ resources('js/script.js', module.chave) }}"></script>
    <script type="text/javascript"> SGA.module = "{{ module.chave}}";</script>
{% endblock %}

{% block content %}
    {{ parent() }}
    
    <div class="module-content">
        {{ block('module_page_header') }}
        
        {% block moduleContent %}
        {% endblock %}
    </div>
{% endblock %}