<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ atendimento.senha }}</title>
    <link type="text/css" rel="stylesheet" href="{{ asset("css/print.css") }}?v={{ version }}" />
    <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body onload="window.print()">
    <div id="senha">
        <header>
            {% if atendimento.unidade.impressao.exibirNomeUnidade %}
                <p class="unidade">
                    {{ atendimento.unidade.nome }}
                </p>
            {% endif %}
            <p>
                {{ atendimento.unidade.impressao.cabecalho|nl2br }}
            </p>
        </header>
        <section>
            {% if atendimento.unidade.impressao.exibirPrioridade %}
                <p class="prioridade">
                    {{ atendimento.prioridade.nome }}
                </p>
            {% endif %}
            
            <p class="senha">
                {{ atendimento.senha }}
            </p>
            
            {% if atendimento.unidade.impressao.exibirNomeServico %}
                <p class="servico">
                    {{ atendimento.servico.nome }}
                </p>
            {% endif %}
            
            {% if atendimento.unidade.impressao.exibirMensagemServico %}
                <p class="servico">
                    {{ servicoUnidade.mensagem|nl2br }}
                </p>
            {% endif %}
            
            {% if atendimento.unidade.impressao.exibirData %}
                <div class="data-hora">
                    <p class="data">
                        {{ now|date('d/m/Y') }}
                    </p>
                    <p class="hora">
                        Hora de chegada {{ now|date('H\\hi') }} <br>
                        ( Horário local )
                    </p>
                </div>
            {% endif %}
        </section>
        <footer>
            <p>
                {{ atendimento.unidade.impressao.rodape|nl2br }}
            </p>
        </footer>
    </div>
</body>
</html>