<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ atendimento.senha }}</title>
    <style>
       #senha {
           width: 300px;
           min-height: 150px;
           margin: auto;
       }

       #senha * {
           font-family: monospace;
           font-size: 12pt;
           text-align: center;
           line-height: 1;
       }

       #senha header {
           font-size: 10pt;
           padding: 10px 0;
       }

       #senha header p {
           margin: 0;
       }

       #senha header .unidade {
           font-size: 14pt;
           font-weight: bold;
       }

       #senha section {
           font-size: 10pt;
           padding: 10px 0;
       }

       #senha section p {
           margin: 5px 0;
       }

       #senha section .prioridade {
           font-weight: bold;
       }

       #senha section .senha {
           font-size: 35pt;
           line-height: 50pt;
           font-weight: bold;
       }

       #senha section .data-hora {
           padding: 10pt 0;
       }

       #senha footer {
           font-size: 8pt;
           padding: 10px 0;
       }

       #senha footer p {
           margin: 0;
       }
    </style>
    <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
    <div id="senha">
        <header>
            {% if atendimento.unidade.impressao.exibirNomeUnidade %}
                <p class="unidade">
                    {{ atendimento.unidade.nome }}
                </p>
            {% endif %}
            <p>
                {{ atendimento.unidade.impressao.cabecalho|nl2br }}
            </p>
        </header>
        <section>
            {% if atendimento.unidade.impressao.exibirPrioridade %}
                <p class="prioridade">
                    {{ atendimento.prioridade.nome }}
                </p>
            {% endif %}
            
            <p class="senha">
                {{ atendimento.senha }}
            </p>
            
            {% if atendimento.unidade.impressao.exibirNomeServico %}
                <p class="servico">
                    {{ atendimento.servico.nome }}
                </p>
            {% endif %}
            
            {% if atendimento.unidade.impressao.exibirMensagemServico %}
                <p class="servico">
                    {{ servicoUnidade.mensagem|nl2br }}
                </p>
            {% endif %}
            
            {% if atendimento.unidade.impressao.exibirData %}
                <div class="data-hora">
                    <p class="data">
                        {{ now|date('m/d/Y'|trans) }}
                    </p>
                    <p class="hora">
                        {{ 'print.ticket.date'|trans({ '%time%': now|date('H\\hi') })|raw }}
                    </p>
                </div>
            {% endif %}
        </section>
        <footer>
            <p>
                {{ atendimento.unidade.impressao.rodape|nl2br }}
            </p>
        </footer>
    </div>
</body>
</html>