{% extends "module.html.twig" %}
{% block moduleContent %}
<div class="search">
    <form method="get" action="{{ baseUrl() }}/modules/{{ module.chave }}" class="form-inline" role="search">
        <div class="form-group">
            <input id="search-box" 
                   type="search" 
                   name="s" 
                   value="{{ search }}" 
                   class="form-search form-control"
                   placeholder="{% trans %}buscar{% endtrans %}" />
            <script type="text/javascript">SGA.Form.searchBox("search-box")</script>
        </div>
        <button type="submit" class="btn btn-default">
            {% trans %}Buscar{% endtrans %}
        </button>
        <a href="{{ baseUrl() }}/modules/{{ module.chave }}/edit" class="btn btn-primary btn-add">
            {% trans %}Novo{% endtrans %}
        </a>
    </form>
</div>
{% if flash['success'] %}
<div class="alert alert-success">
    {{ flash['success'] }}
</div>
{% endif %}

{% if flash['error'] %}
<div class="alert alert-danger">
    {{ flash['error'] }}
</div>
{% endif %}
<table class="table table-responsive table-hover table-striped table-responsive">
    <thead>
        <tr>
            <th>#</th>
            {% block thead %}
            {% endblock %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            {% block tbody %}
            {% endblock %}
            <td style="width:1%; white-space: nowrap">
                <a href="{{ module.chave }}/edit/{{ item.id }}" class="btn btn-default">
                    {% trans %}Editar{% endtrans %}
                </a>
                <a href="{{ module.chave }}/delete/{{ item.id }}" class="btn btn-danger">
                    {% trans %}Excluir{% endtrans %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>
{% endblock %}