{% extends "admin.html.twig" %}

{% block adminContent %}
    <div class="row">
        <div class="col-8">
            <h1>
                {{ 'admin.places.title'|trans }}
                <small>
                    {{ 'admin.places.subtitle'|trans }}
                </small>
            </h1>
        </div>
        <div class="col-4 text-right">
            <a href="{{ path('admin_locais_new') }}" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                {{ 'admin.places.button.new'|trans }}
            </a>
        </div>
    </div>

    <hr>

    {% include "flashMessages.html.twig" %}

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>{{ 'label.name'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for local in locais %}
                <tr>
                    <td>
                        {{ local.id }}
                    </td>
                    <td>
                        {{ local.nome }}
                    </td>
                    <td class="text-center">
                        <a href="{{ path('admin_locais_edit', { id: local.id }) }}" class="btn btn-secondary">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
