{% extends "module.html.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ resources('css/bootstrap-switch.min.css', module.chave) }}">
    <script type="text/javascript" src="{{ resources('js/bootstrap-switch.min.js', module.chave) }}"></script>
{% endblock %}

{% block moduleContent %}
<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-servicos" data-toggle="tab">{% trans %}Serviços{% endtrans %}</a></li>
        <li><a href="#tab-triagem" data-toggle="tab">{% trans %}Triagem{% endtrans %}</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-servicos" class="tab-pane active">
            <div class="well well-sm">
                {% trans %}As modificações na sigla do serviço são salvas automaticamente ao sair do campo.{% endtrans %}
            </div>
            <table class="table" id="servicos">
                <thead>
                    <tr>
                        <th>{% trans %}Sigla{% endtrans %}</th>
                        <th>{% trans %}Serviço{% endtrans %}</th>
                        <th class="col-md-2">{% trans %}Local{% endtrans %}</th>
                        <th class="col-md-1">{% trans %}Peso{% endtrans %}</th>
                        <th class="col-md-1">{% trans %}Status{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for su in servicos %}
                    <tr>
                        <td class="sigla">
                            <input id="sigla-{{ su.servico.id }}"
                                   type="text"
                                   class="servico-{{ su.servico.id }} center form-control"
                                   value="{{ su.sigla }}"
                                   data-id="{{ su.servico.id }}"
                                   onclick="this.select()"
                                   onkeyup="this.value = this.value.toUpperCase()"
                                   onblur="SGA.Unidade.Servicos.change({{ su.servico.id }})"
                                   size="1"
                                   maxlength="1"
                                   {% if su.status != 1 %}disabled="disabled"{% endif %} />
                        </td>
                        <td class="nome">
                            {{ su.servico.nome }}
                        </td>
                        <td class="local">
                            <select id="local-{{ su.servico.id }}"
                                    class="servico-{{ su.servico.id }} form-control"
                                    onchange="SGA.Unidade.Servicos.change({{ su.servico.id }})"
                                    {% if su.status != 1 %}disabled="disabled"{% endif %}>
                                {% for local in locais %}
                                <option value="{{ local.id }}" {% if su.local.id == local.id %}selected="selected"{% endif %}>{{ local.nome }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input
                                type="number"
                                id="peso-{{ su.servico.id }}"
                                class="servico-{{ su.servico.id }} form-control"
                                value="{{ su.peso }}"
                                onblur="SGA.Unidade.Servicos.change({{ su.servico.id }})"
                                {% if su.status != 1 %}disabled="disabled"{% endif %}
                                >
                        </td>
                        <td>
                            <input
                                id="btn-enable-{{ su.servico.id }}"
                                type="checkbox"
                                data-on-color="success"
                                data-off-color="default"
                                data-on-text="On"
                                data-off-text="Off"
                                data-id="{{ su.servico.id }}"
                                {% if su.status == 1 %}checked{% endif %}>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="tab-triagem" class="tab-pane">
            <form id="form-triagem" role="form" onsubmit="return false">
                <fieldset>
                    <legend>{% trans %}Impressão{% endtrans %}</legend>
                    <div class="checkbox">
                        <label for="impressao">
                            <input id="impressao" name="impressao" type="checkbox" value="1" {% if unidade.statusImpressao %}checked="checked"{% endif %}
                                   onclick="setTimeout(SGA.Unidade.Triagem.salvar, 100)" />
                            {% trans %}Ativar impressão de senha{% endtrans %}
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="mensagem" class="form-label">{% trans %}Mensagem{% endtrans %}</label>
                        <input type="text" id="mensagem" name="mensagem" class="form-control" maxlength="100" value="{{ unidade.mensagemImpressao }}"
                               onchange="SGA.Unidade.Triagem.salvar()" />
                    </div>
                    <div class="form-group">
                        <label>{% trans %}Reiniciar senhas{% endtrans %}</label>
                        <button class="btn btn-danger" onclick="return SGA.Unidade.Triagem.reiniciarSenhas('{% trans %}Deseja realmente reiniciar as senhas?{% endtrans %}')">
                            {% trans %}Reiniciar{% endtrans %}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{# reiniciar #}
<div id="dialog-reiniciar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans %}Configuração{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans %}Senhas reiniciadas com sucesso{% endtrans %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Fechar{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}