<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% trans %}Instalação{% endtrans %} | Novo SGA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ baseUrl() }}/images/favicon.png" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/style.css" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/install.css" />
        <script type="text/javascript" src="{{ baseUrl() }}/js/jquery.js?v={{ version }}"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/script.js?v={{ version }}"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/install.js?v={{ version }}"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/bootstrap.min.js?v={{ version }}"></script>
        <script type="text/javascript"> SGA.baseUrl = '{{ baseUrl() }}';</script>
        <!--[if lt IE 9]>
        <script src="{{ baseUrl() }}/js/html5shiv.js"></script>
        <script src="{{ baseUrl() }}/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="">{% trans %}Instalação{% endtrans %}: {{ currStep.title }}</a>
            </div>
            <div class="navbar-collapse collapse install-navegation">
                {% if prevStep %}
                <button id="btn_prev" class="btn btn-default" onclick="SGA.Install.prevStep()"
                        title="{{ prevStep.title }}">{% trans %}Anterior{% endtrans %}</button>
                {% endif %}
                {% if nextStep %}
                <button id="btn_next" class="btn btn-primary" onclick="SGA.Install.nextStep()"
                        title="{{ nextStep.title }}"
                        {% if error %}disabled{% endif %}>{% trans %}Próximo{% endtrans %}</button>
                {% endif %}
            </div>
        </nav>
        <div class="container">
            <ul id="progress">
                {% for step in steps %}
                    <li {% if step.id == currStep.id %}class="current"{% endif %}>
                        <span title="{{ step.title }}">
                            {{ step.id + 1 }}
                        </span>
                    </li>
                {% endfor %}
            </ul>
            <div class="step">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            <p>Novo SGA v{{ version }}</p>
        </div>
        <script type="text/javascript">
            SGA.Install.currStep = {{ currStep.id }};
            SGA.Install.totalSteps = {{ totalSteps }};
            SGA.Install.adapter = '{{ currAdapter }}';
        </script>
    </body>
</html>